.biography-container {
    display: grid;
    grid-template-columns: .75fr 2fr;
    width: 90%;
    aspect-ratio: 900 / 550;
    margin: 2vw auto;
    overflow: hidden;
}


.biography-specials.info-container {
    position: fixed;
    bottom: -2.25rem;
    width: fit-content;
    max-width: unset;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    padding: .5rem 1.125rem 4rem 1.125rem;
    height: 10vh;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    font-family: inherit;
    font-weight: 100;
}

.biography-specials > button {
    display: grid;
    height: fit-content;
    place-content: center;
    font-size: 1.4rem;
    padding-block: 1rem;
    text-align: center;
    width: 10rem;
    max-width: 25rem;
    transition: 250ms ease all;
}

p {
    font-weight: 100;
    font-size: 1.125rem;
    padding-left: 4.5rem;
    min-height: 7.5rem;
    overflow-y: auto;
    width: 90%;
}

.biography-specials > button:hover {
    transform: translateY(-10%);
    filter: drop-shadow(0 .25rem .25rem var(--blue));
}

.image {
    width: 100%;
    height: 100%;
    background: url(./assets/image.png);
    background-size: contain;
    background-position: 0 60%;
    background-repeat: no-repeat;
    transform: scale(2);
    mask-image: linear-gradient(90deg, black 70%, transparent);
    -webkit-mask-image: linear-gradient(90deg, black 70%, transparent);
}

p > a {
    color: white;
}

@media (max-width: 1000px) {
    .biography-container.info-container {
        display: flex;
        gap: 0;
        flex-direction: column;
        justify-content: flex-start;
        height: 75%;
    }

    .image {
        position: relative;
        width: 50vw;
        border-radius: .75rem;
        height: auto;
        aspect-ratio: 886 / 1384;
        background-size: cover;
        background-position: 0 0;
        transform: unset;

        mask-image: linear-gradient(black 60%, transparent);
        -webkit-mask-image: linear-gradient(black 60%, transparent);
    }

    p {
        padding-left: 0; 
        margin-top: auto;
        font-size: 1rem;
    }

}

@media (max-width: 780px) {
    .biography-specials.info-container {
        width: 100%;
        height: 5vh;
        bottom: -5vh;
        gap: 1vw;
    }

    .biography-specials.info-container > button {
        font-size: 3vw;
        border-radius: 2vw;
        padding: 2vw 5vw;
    }
}

@media (max-width: 500px) {
    .biography-specials.info-container {
        display: grid;
        width: auto;
        bottom: -.5vh;
        grid-template-columns: 1fr 1fr;
        gap: 7.5% 2.5%;
        padding-bottom: 2vh;
        height: fit-content;
    }
    .biography-specials.info-container > button {
        font-size: 1rem;
    }
    p {
        max-height: 50%;
    }
}

