.pop-up-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: calc(7.5vh + 2.5rem);
    transition: 800ms ease all;
}

.pop-up-container.hidden {
    transform: translateY(-100vh);
    opacity: 0;
}

.main-updates-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    gap: 1.125vh;
    overflow-y: auto;
    color: var(--white);
    max-height: 80vh;
}

.main-updates-container > .update {
    backdrop-filter: blur(100px);
}

.timeline {

}

.exit {
    position: absolute;
    right: 2vw;
    top: 6vw;
}